*.pyc
*.venv
src/codebase_to_llm.egg-*
dist/*
.clinerules/deploy.md
src/users.db
users.db
docker/deploy-to-cloud-run.sh
.env-development
users.db.backup
Tinkering/*
.clinerules/cli_other.md
docker/env-vars.yaml
docker/env-vars-dev.yaml
docker/env-vars-prod.yaml
scripts/test_ws.py
output.mp4
